h1, h2, h3 {
  font-weight: 700 !important;
}

section {
  position: relative;
}

section a,
section a:hover {
  display: block;
  text-decoration: none;
}

section .rect {
  position: absolute;
}

section .rect--poster {
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .rect--about_us {
  top: 300px;
  left: 30%;
}

section .rect .glider-dot {
  width: 60px;
  height: 6px;
  border-radius: 0;
}

section .rect .glider-dot.active, section .rect .glider-dot:hover, section .rect .glider-dot:focus {
  background: #f15f2f !important;
  border: none;
  outline: none;
}

section .card_product {
  border: none;
  padding: 5px 10px;
}

section .card_product .card-body {
  background-color: #f9f9f9;
}

section .card_product .card-body h5,
section .card_product .card-body p {
  margin-bottom: 5px;
  text-align: center;
}

section .card_product .card-body h5 a {
  font-weight: 700;
  color: #303030;
}

section .card_product .card-body h5 a:hover {
  color: #f15f2f;
}

section .card_product .card-body p.bold {
  font-weight: 700;
}

a,
a:hover {
  text-decoration: none;
}

.tttt_btn,
.tttt_btn:hover {
  background-color: #f15f2f;
  color: #fefefe;
  display: block;
  margin-top: 20px;
  font-size: 25px;
  border: none;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #f8f8f8;
  cursor: none;
  width: 150px;
  height: 150px;
}

#section_banner {
  background-color: #bdbdbd;
  height: 46px;
}

#section_banner .carousel .carousel-item {
  margin-top: 8px;
}

#section_banner .carousel .carousel-item strong {
  font-size: 20px;
}

#home_page #product_arrival {
  padding: 64px 0;
}

#home_page #section_cate_product {
  background-color: #f4f4f4;
  padding: 64px 0;
}

#home_page #section_cate_product .card .card-title {
  color: #fff;
  z-index: 9;
  position: absolute;
  bottom: 50%;
  width: 100%;
}

#home_page #section_cate_product .card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

#home_page #section_cate_product .card:hover::after {
  opacity: 0;
}

#home_page #section_cate_product .card:hover .card-title {
  display: none;
}

#home_page #poster_sup img {
  width: 100%;
}

#home_page #section_news {
  padding: 64px 0;
  background-color: #f4f4f4;
}

#home_page #section_news .row .card a {
  color: #333;
}

#home_page #section_news .row .card .card-img-top {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 10%;
     object-position: 0% 10%;
}

#product_page {
  padding: 32px 0 !important;
}

#product_page #menu_side {
  border-radius: 6px;
  padding: 0 24px;
}

#product_page #menu_side .menu-item {
  border: 1px solid #bdbdbd;
  padding: 0;
  margin-bottom: 12px;
  border-radius: 6px;
}

#product_page #menu_side .menu-item .btn {
  width: 100%;
  border-radius: 0;
  background-color: #eee;
  border: none;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_page #menu_side .menu-item .btn .fas {
  margin-left: 12px;
}

#product_page #menu_side .menu-item ul {
  padding: 12px;
  margin: 0;
}

#product_page #menu_side .menu-item ul li a {
  color: #303030 !important;
  font-size: 18px;
  padding: 6px;
}

#product_page #menu_side .menu-item ul li a:hover {
  background-color: #eee;
}

#product_page #section_prod_list .row--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 12px;
          column-gap: 12px;
  row-gap: 12px;
}

#detail_page {
  padding: 32px 0 !important;
}

#detail_page .content_prod .priceP {
  font-size: 30px;
}

#detail_page .content_prod form .btn {
  width: 100%;
}

#detail_page .content_prod .btn.active {
  background-color: #f15f2f;
  border-color: #f15f2f;
}

#detail_page .content_prod #datmay_btn {
  width: 100%;
}

#detail_page .content_prod .btn.btn-light {
  background-color: #eee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gio_hang_page .title {
  margin-bottom: 30px;
  font-weight: 700;
}

#gio_hang_page .title.bottom--edit {
  border-bottom: 3px solid #303030;
}

#gio_hang_page .title h4 {
  background-color: #eee;
  padding: 10px 20px;
}

#gio_hang_page #content_cart #section_add_prods .btn {
  width: 100%;
}

#gio_hang_page #content_cart #list_order .card {
  border: none;
  border-radius: 0;
  position: relative;
}

#gio_hang_page #content_cart #list_order .card .card-img {
  width: 140px;
  border-radius: 0;
}

#gio_hang_page #content_cart #list_order .card .card-body {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gio_hang_page #content_cart #list_order .card .card-body h4 {
  font-weight: 700;
  position: absolute;
  top: 0;
}

#gio_hang_page #content_cart #list_order .card .card-body h4 a {
  color: #303030;
}

#gio_hang_page #content_cart #list_order .card .card-body .card-price {
  color: #808080;
  font-size: 18px;
  position: absolute;
  bottom: 70px;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box {
  position: absolute;
  bottom: 0;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod {
  padding: 0;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group select,
#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group input {
  width: 90%;
  display: block;
  border: 1px solid #bdbdbd;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group label {
  font-weight: 700;
  font-size: 18px;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size {
  position: relative;
  width: 180px;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #btn_select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0;
  padding: 5px 10px;
  border: 1px solid #bdbdbd;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #select_collapse {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: #eee;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #select_collapse .select {
  padding: 0;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45px)[4];
      grid-template-columns: repeat(4, 45px);
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #select_collapse .select .opt {
  position: relative;
  font-size: 18px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px dashed #bdbdbd;
  border-bottom: 2px dashed #bdbdbd;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #select_collapse .select .opt:hover {
  background-color: #bdbdbd;
  cursor: pointer;
  color: #fefefe;
  font-weight: 700;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group #collapse_size #select_collapse .select .opt input[type="radio"] {
  display: block;
  width: 100%;
  height: 55px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#gio_hang_page #content_cart #list_order .card .card-body .edit_box #edit_info_prod .form-group input[type="text"] {
  border: 1px solid #bdbdbd;
  padding: 3px 5px;
  font-size: 20px;
  font-weight: 700;
}

#gio_hang_page #content_cart #list_order .card .check_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gio_hang_page #content_cart #list_order .card .check_price h4 {
  font-weight: 700;
  color: #f15f2f;
}

#gio_hang_page #content_cart #list_order .card .check_price .check_val_prod {
  color: #f15f2f;
  margin-bottom: 10px;
}

#gio_hang_page #content_cart #list_order .card .check_price button {
  width: 70%;
  border: none;
  padding: 8px 0;
}

#gio_hang_page #content_cart #list_order .card .check_price button .fa-check,
#gio_hang_page #content_cart #list_order .card .check_price button .fa-trash-alt {
  font-size: 18px;
}

#gio_hang_page #content_cart #list_order .card .check_price button.choose_btn {
  margin-bottom: 10px;
}

#gio_hang_page #content_cart #list_order .card .check_price button.choose_btn.checked, #gio_hang_page #content_cart #list_order .card .check_price button.choose_btn:hover {
  color: #f1f1f1;
  background-color: #f15f2f;
}

#gio_hang_page #content_cart #list_order .card .check_price button.delete_btn {
  color: #f1f1f1;
  background-color: #303030;
}

#gio_hang_page #content_cart hr {
  margin: 30px 0 0;
  height: 1px;
  background-color: #303030;
}

#gio_hang_page #content_cart #btn_handle {
  padding: 50px 0;
}

#gio_hang_page #content_cart #btn_handle .col-md-6 {
  padding: 0;
}

#gio_hang_page #content_cart #btn_handle button,
#gio_hang_page #content_cart #btn_handle a {
  display: block;
  width: 70%;
  background-color: #303030;
  color: #f1f1f1;
  font-weight: 700;
  border: none;
  border-radius: 0;
  font-size: 18px;
  padding: 5px 0;
}

#gio_hang_page #content_cart #btn_handle a {
  margin-left: auto;
}

#gio_hang_page #total_cart {
  background-color: #eee;
  padding: 15px 20px;
  font-weight: 700;
  border-radius: 6px;
}

#gio_hang_page #total_cart #frm_bill .form-group {
  border-bottom: 2px dashed #bdbdbd;
  padding: 20px 0;
  margin-bottom: 0;
  background-color: #eee;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-8 {
  padding: 0;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-8 #ip_code {
  width: 100%;
  border: 1px solid #bdbdbd;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border-radius: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  outline: none;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-8 #ip_code:focus {
  border-color: #f15f2f;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-4 {
  padding: 0;
  background-color: lightblue;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-4 button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f15f2f;
  color: #fefefe;
}

#gio_hang_page #total_cart #frm_bill .form-group .col-md-12.d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #808080;
}

#regis_btn {
  width: 100%;
}

#checkout_page .col-md-7,
#checkout_page .col-md-5,
#checkout_page .col-md-2,
#checkout_page .col-md-3 {
  padding: 0;
  margin: 0;
}

#checkout_page .container {
  width: 80%;
  padding: 30px 0;
}

#checkout_page .form_info .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#checkout_page .form_info .form-group:last-child {
  margin-bottom: 0;
}

#checkout_page .form_info input,
#checkout_page .form_info p,
#checkout_page .form_info textarea {
  width: 100%;
  border: none;
  padding: 5px;
  border: none;
  outline: none;
  font-weight: 600;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f9f9f9;
}

#checkout_page .form_info textarea {
  resize: none;
}

#checkout_page .form_info #edit_btn {
  display: block;
  margin-left: auto;
  background-color: #f15f2f;
  color: #f1f1f1;
  font-weight: 600;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#checkout_page .form_info #getNameCus,
#checkout_page .form_info #editNameCus {
  text-transform: uppercase;
}

#checkout_page .modal-title {
  font-weight: 700;
  font-weight: 600;
}

#checkout_page .collapse_title {
  margin-bottom: 0;
}

#checkout_page .collapse_title a {
  width: 100%;
  text-align: left;
  background-color: #f15f2f;
  color: #fefefe;
  font-weight: 700;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

#checkout_page .collapse_title a.collapsed {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#checkout_page .collapse_title a.collapsed .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#checkout_page .collapse--edit {
  padding: 15px 10px;
  border: 1px solid #f15f2f;
}

#checkout_page .collapse--edit.collapsing {
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

#checkout_page .collapse--edit .form-check {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checkout_page .collapse--edit .form-check:last-child {
  margin-bottom: 0;
}

#checkout_page .collapse--edit .form-check .form-check-input {
  visibility: hidden;
}

#checkout_page .collapse--edit .form-check .form-check-input:checked + .form-check-label {
  font-weight: 600;
}

#checkout_page .collapse--edit .form-check .form-check-input:checked + .form-check-label::before {
  background-color: #303030;
}

#checkout_page .collapse--edit .form-check .form-check-label {
  width: 100%;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#checkout_page .collapse--edit .form-check .form-check-label img {
  height: 40px;
}

#checkout_page .collapse--edit .form-check .form-check-label .col-md-3 {
  text-align: right;
}

#checkout_page .collapse--edit .form-check::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 3px solid #303030;
}

#checkout_page .collapse--edit .form-check .form-check-label::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 12px;
  height: 12px;
}

#checkout_page #payment_method {
  position: relative;
}

#checkout_page #payment_method .form-check-label {
  padding: 5px 10px;
}

#checkout_page #payment_method .form-check-label img {
  margin-left: 15px;
  height: 18px;
}

#checkout_page #payment_method .form-check-label .fa-question-circle {
  margin-left: 15px;
  position: relative;
}

#checkout_page #payment_method .form-check-label .fa-question-circle:hover + .tooltip_cod {
  display: block;
}

#checkout_page #payment_method .tt {
  font-weight: 400;
  width: 200px;
  background-color: #f9f9f9;
  padding: 5px;
  position: absolute;
  bottom: 40px;
  left: 20%;
  border: 1px solid #808080;
  z-index: 1;
  display: none;
}

#checkout_page #payment_method .tt::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 65px;
  width: 25px;
  height: 25px;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f9f9f9;
  border: 1px solid #808080;
  border-left: none;
  border-top: none;
}

#checkout_page #modelEditInfoShip .modal-dialog {
  min-width: 600px;
}

#checkout_page #modelEditInfoShip .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  font-weight: 700;
}

#checkout_page #modelEditInfoShip .btn#update_info_btn {
  background-color: #f15f2f;
  color: #fefefe;
}

#checkout_page #modelEditInfoShip input,
#checkout_page #modelEditInfoShip textarea {
  background-color: #f1f1f1;
}

#checkout_page #modelEditInfoShip textarea {
  overflow: hidden;
}

#checkout_page #modelEditInfoShip .fa-eraser {
  margin-left: 10px;
  cursor: pointer;
}

#checkout_page #modelEditInfoShip .fa-eraser:hover {
  color: #f15f2f;
}

#checkout_page #total_checkout {
  background-color: #eee;
  padding: 15px;
  height: 100%;
}

#checkout_page #total_checkout > h4 {
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 0;
}

#checkout_page #total_checkout > hr {
  border-bottom: 2px solid #303030;
  margin-top: 0;
}

#checkout_page #total_checkout .col-md-9,
#checkout_page #total_checkout .col-md-6,
#checkout_page #total_checkout .col-md-3 {
  padding: 0;
}

#checkout_page #total_checkout #listProd .list_item {
  border-bottom: 1px dashed #bdbdbd;
}

#checkout_page #total_checkout #listProd .list_item .col-md-6:last-child {
  text-align: center;
}

#checkout_page #total_checkout #listProd .list_item .get_name_prod {
  color: #666;
  font-weight: 600;
  font-size: 17px;
}

#checkout_page #total_checkout #listProd .list_item p,
#checkout_page #total_checkout #listProd .list_item .get_size_prod,
#checkout_page #total_checkout #listProd .list_item .get_qty_prod,
#checkout_page #total_checkout #listProd .list_item .get_price_prod {
  color: #808080;
}

#checkout_page #total_checkout #listProd .list_item .col-md-3 {
  text-align: right;
}

#checkout_page #total_checkout #bill .bill_item {
  color: #808080;
  font-weight: 600;
}

#checkout_page #total_checkout #bill .bill_item .col-md-6:last-child {
  text-align: right;
}

#checkout_page #total_checkout #bill .bill_item:last-child {
  color: #303030;
}

#checkout_page #total_checkout #total_bill {
  font-size: 22px;
  font-weight: 700;
}

#checkout_page #total_checkout #total_bill .col-md-6:last-child {
  text-align: right;
  color: #f15f2f;
}

#checkout_page #total_checkout #finish_order_btn {
  margin-top: 15px;
  border-radius: 0;
  background-color: #f15f2f;
  color: #fefefe;
  font-size: 25px;
  font-weight: 700;
}

#love_page .container {
  width: 65%;
  padding: 30px 0;
}

#love_page .container > h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

#love_page #num_prod {
  padding: 12px 0;
  border-bottom: 2px solid #303030;
  font-weight: 600;
  color: #808080;
  font-size: 18px;
  margin-bottom: 30px;
}

#love_page #list_prod_love {
  padding: 0;
}

#love_page #list_prod_love .col-md-6,
#love_page #list_prod_love .col-md-3 {
  padding: 0;
}

#love_page #list_prod_love .card {
  border: none;
  border-radius: 0;
  position: relative;
  margin-bottom: 0;
  padding: 20px;
  border-bottom: 2px dashed #bdbdbd;
}

#love_page #list_prod_love .card .card_img {
  width: 180px;
  height: 180px;
  border-radius: 0;
}

#love_page #list_prod_love .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px 0;
}

#love_page #list_prod_love .card .card-body h4 {
  font-weight: 700;
  position: absolute;
  top: 0px;
}

#love_page #list_prod_love .card .card-body h4 a {
  color: #303030;
}

#love_page #list_prod_love .card .card-body h4 a:hover {
  color: #f15f2f;
}

#love_page #list_prod_love .card .card-body .card-price {
  color: #808080;
  font-size: 18px;
  position: absolute;
  top: 60px;
}

#love_page #list_prod_love .card .card-body .edit_box {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting {
  padding: 0;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group select,
#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group input {
  width: 80%;
  display: block;
  border: 1px solid #bdbdbd;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group label {
  font-weight: 700;
  font-size: 18px;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size {
  position: relative;
  width: 180px;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .btn_select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0;
  padding: 5px 10px;
  border: 1px solid #bdbdbd;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .size {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: #eee;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .size .select {
  padding: 0;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45px)[4];
      grid-template-columns: repeat(4, 45px);
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .size .select .opt {
  position: relative;
  font-size: 18px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 2px dashed #bdbdbd;
  border-bottom: 2px dashed #bdbdbd;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .size .select .opt:hover {
  background-color: #bdbdbd;
  cursor: pointer;
  color: #fefefe;
  font-weight: 700;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group .collapse_size .size .select .opt input[type="radio"] {
  display: block;
  width: 100%;
  height: 55px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#love_page #list_prod_love .card .card-body .edit_box .form_setting .form-group input[type="text"] {
  border: 1px solid #bdbdbd;
  padding: 3px 5px;
  font-size: 20px;
  font-weight: 700;
}

#love_page #list_prod_love .card .check_price {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#love_page #list_prod_love .card .check_price h4 {
  font-weight: 700;
  color: #f15f2f;
}

#love_page #list_prod_love .card .check_price .check_val_prod {
  color: #f15f2f;
  margin-bottom: 10px;
}

#love_page #list_prod_love .card .check_price button {
  width: 70%;
  border: none;
  padding: 8px 0;
  color: #f1f1f1;
  background-color: #303030;
}

#love_page #list_prod_love .card .check_price button .fa-trash-alt {
  font-size: 18px;
}

#love_page #list_prod_love .card .check_price button.add_cart_btn {
  background: #f15f2f;
}

#love_page hr {
  margin: 30px 0;
  border-bottom: 2px solid #303030;
}

#love_page .btn_handle {
  font-weight: 700;
}

#love_page .btn_handle button,
#love_page .btn_handle a {
  border: none;
  border-radius: 3px;
  display: block;
  width: 70%;
  background-color: #303030;
  color: #fefefe;
  font-size: 18px;
}

#love_page .btn_handle a {
  margin-left: auto;
}

#map_store_page .container {
  width: 80%;
  padding: 30px 0;
}

#map_store_page h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#map_store_page .setting_map {
  height: 620px;
  border: none;
  padding: 0;
}

#contact_page .container {
  width: 60%;
  padding: 30px 0;
}

#contact_page .container .title {
  font-weight: 700;
  text-align: center;
}

#contact_page .container hr {
  border: none;
  border-bottom: 2px dashed #bdbdbd;
  margin: 30px 0;
}

#contact_page .container p {
  font-size: 18px;
}

#contact_page .container .foot {
  text-align: right;
}

#contact_page .container .foot a {
  background-color: #303030;
  color: #fefefe;
  font-weight: 600;
}

#customer_page {
  min-height: 100vh;
  background-color: #eee;
}

#customer_page .container {
  width: 80%;
  padding: 0 0 30px;
}

#customer_page hr {
  border-bottom: 2px solid #303030;
}

#customer_page .tabs {
  background-color: #f9f9f9;
  height: 100%;
  padding: 20px 0 20px 20px;
}

#customer_page .tabs .avata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#customer_page .tabs .avata canvas {
  border-radius: 5px;
  font-weight: 700;
}

#customer_page .tabs .name_avata p {
  margin-bottom: 0;
  color: #808080;
}

#customer_page .tabs .name_avata h5 {
  font-weight: 700;
}

#customer_page .tabs .nav .nav-link {
  color: #303030;
  margin-bottom: 15px;
  border-right: none;
  border-radius: 0;
}

#customer_page .tabs .nav .nav-link:hover {
  background-color: #303030;
  color: #fefefe;
}

#customer_page .tabs .nav .nav-link.active {
  border: none;
  background-color: #303030;
  color: #fefefe;
  font-weight: 600;
}

#customer_page .content_tab {
  background-color: #f9f9f9;
  padding: 20px 30px;
}

#customer_page .content_tab h3 {
  font-weight: 700;
  padding: 11px;
}

#customer_page .content_tab #frmInfoUser label {
  font-weight: 600;
}

#customer_page .content_tab #frmInfoUser input {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#customer_page .content_tab #frmInfoUser input:focus {
  border: 2px solid #303030;
  font-weight: 600;
}

#customer_page .content_tab #frmInfoUser .col-md-6,
#customer_page .content_tab #frmInfoUser .col-md-12,
#customer_page .content_tab #frmInfoUser .col-md-4 {
  padding-left: 0;
}

#customer_page .content_tab #frmInfoUser .col-md-12,
#customer_page .content_tab #frmInfoUser .col-md-4:last-child {
  padding-right: 0;
}

#customer_page .content_tab #frmInfoUser .form-check {
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#customer_page .content_tab #frmInfoUser #changePW {
  -webkit-transition: 0.5s display ease-in-out;
  transition: 0.5s display ease-in-out;
}

#customer_page .content_tab #btnUpdateInfoUser {
  background-color: #303030;
  border: none;
  width: 150px;
}

#customer_page #receipts-null {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#customer_page #receipts-null .cart_empty_img {
  width: 70%;
}

#customer_page #receipts-null .btn {
  width: 70%;
  background-color: #303030;
  color: #fefefe;
  font-weight: 600;
}

#sale_off_page,
#search_page {
  background-color: #eee;
}

#sale_off_page .container,
#search_page .container {
  width: 80%;
  padding: 30px 0;
}

#sale_off_page .bg_grey,
#search_page .bg_grey {
  background-color: #f9f9f9;
  padding: 30px;
}

#sale_off_page .bg_grey > h3,
#search_page .bg_grey > h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#sale_off_page img,
#search_page img {
  width: 100%;
}

#sale_off_page .row--grid,
#search_page .row--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

#sale_off_page .row--grid .card,
#search_page .row--grid .card {
  padding: 0;
}

#sale_off_page .row--grid .card .card-top,
#search_page .row--grid .card .card-top {
  height: 375px;
  position: relative;
}

#sale_off_page .row--grid .card .card-top .card-img-top img,
#search_page .row--grid .card .card-top .card-img-top img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px 3px 0 0;
}

#sale_off_page .row--grid .card .card-top .card-img-top img.img_second,
#search_page .row--grid .card .card-top .card-img-top img.img_second {
  display: none;
}

#sale_off_page .row--grid .card .card-top .card-img-top:hover .img_first,
#search_page .row--grid .card .card-top .card-img-top:hover .img_first {
  display: none;
}

#sale_off_page .row--grid .card .card-top .card-img-top:hover .img_second,
#search_page .row--grid .card .card-top .card-img-top:hover .img_second {
  display: block;
}

#sale_off_page .row--grid .card .card-top .btn_review_prod,
#search_page .row--grid .card .card-top .btn_review_prod {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px 0;
  font-weight: 700;
  background-color: #f15f2f;
  color: #fefefe;
  display: none;
  font-size: 20px;
}

#sale_off_page .row--grid .card .card-top .btn_review_prod.btn,
#search_page .row--grid .card .card-top .btn_review_prod.btn {
  width: 200px;
  border-radius: 0;
}

#sale_off_page .row--grid .card .card-top .btn_review_prod.btn .fa-eye,
#search_page .row--grid .card .card-top .btn_review_prod.btn .fa-eye {
  margin-right: 5px;
}

#sale_off_page .row--grid .card .card-top:hover .btn_review_prod,
#search_page .row--grid .card .card-top:hover .btn_review_prod {
  display: block;
}

#sale_off_page .row--grid .card .card-top .btn,
#search_page .row--grid .card .card-top .btn {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#sale_off_page .row--grid .card .card-top .like_btn,
#search_page .row--grid .card .card-top .like_btn {
  font-size: 35px;
  position: absolute;
  right: 10px;
  color: #f15f2f;
}

#sale_off_page .row--grid .card .card-top .like_btn:hover + .popover_hover,
#search_page .row--grid .card .card-top .like_btn:hover + .popover_hover {
  display: block;
}

#sale_off_page .row--grid .card .card-top .popover_hover,
#search_page .row--grid .card .card-top .popover_hover {
  position: absolute;
  top: 55px;
  right: 10px;
  border-radius: 3px;
  background-color: #f15f2f;
  padding: 5px;
  color: #fefefe;
  display: none;
}

#sale_off_page .row--grid .card .card-top .popover_hover::after,
#search_page .row--grid .card .card-top .popover_hover::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f15f2f;
  top: -5px;
  right: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#sale_off_page .row--grid .card .card-body,
#search_page .row--grid .card .card-body {
  text-align: center;
}

#sale_off_page .row--grid .card .card-body a,
#search_page .row--grid .card .card-body a {
  color: #303030;
}

#sale_off_page .row--grid .card .card-body h5,
#search_page .row--grid .card .card-body h5 {
  font-weight: 700;
}

#sale_off_page .row--grid .card .card-body .price,
#search_page .row--grid .card .card-body .price {
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sale_off_page .row--grid .card .card-body .price p.bold_price,
#search_page .row--grid .card .card-body .price p.bold_price {
  font-weight: 700;
  padding: 0 10px;
}

#sale_off_page .row--grid .card .card-body .price p.org_price,
#search_page .row--grid .card .card-body .price p.org_price {
  color: #808080;
  text-decoration: line-through;
  padding: 0 10px;
}

#sale_off_page .row--grid .card:hover,
#search_page .row--grid .card:hover {
  -webkit-box-shadow: 0 0 3px #bdbdbd;
          box-shadow: 0 0 3px #bdbdbd;
}

#sale_off_page #hip_page,
#search_page #hip_page {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  top: 5px;
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

#sale_off_page #hip_page a,
#search_page #hip_page a {
  display: block;
  border-right: 1px solid #fefefe;
  background-color: #f15f2f;
  color: #fefefe;
  border-radius: 50px;
  margin: 0 5px;
}

#sale_off_page #hip_page a:hover, #sale_off_page #hip_page a.active,
#search_page #hip_page a:hover,
#search_page #hip_page a.active {
  background-color: #303030;
}

#sale_off_page #hip_page a:last-child,
#search_page #hip_page a:last-child {
  border-right: none;
}

#recruitment_page .container {
  width: 80%;
  padding: 50px 0;
}

#recruitment_page .container > h3 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

#recruitment_page .content_recruitment a {
  display: block;
  color: #303030;
  text-decoration: none;
  margin-bottom: 5px;
}

#recruitment_page .content_recruitment .menu {
  background-color: #eee;
  padding: 20px;
}

#recruitment_page .content_recruitment .menu .menu-item {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px dashed #808080;
}

#recruitment_page .content_recruitment .menu .menu-item .item-title {
  font-weight: 700;
  font-size: 18px;
}

#recruitment_page .content_recruitment .menu .menu-item .item-des {
  color: #808080;
  font-size: 14px;
}

#recruitment_page .content_recruitment .menu .menu-item:last-child {
  border-bottom: none;
}

#recruitment_page .content_recruitment .content {
  padding-left: 30px;
}

#recruitment_page .content_recruitment .content hr {
  margin-top: 0;
  height: 2px;
  background-color: #303030;
}

#recruitment_page .content_recruitment .content .box_group .recruitment {
  padding: 15px 0;
  border-bottom: 2px dashed #808080;
}

#recruitment_page .content_recruitment .content .box_group p {
  margin-bottom: 0;
}

#recruitment_page .content_recruitment .content .box_group p .btn {
  font-size: 23px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  font-weight: 700;
}

#recruitment_page .content_recruitment .content .box_group .collapse {
  padding: 20px 0;
}

#recruitment_page .content_recruitment .content .box_group .collapse.show {
  border-top: 2px dashed #808080;
}

#recruitment_page .content_recruitment .content .box_group:last-child .recruitment {
  border-bottom: none;
}

#contact_page .container {
  width: 60%;
  padding: 50px 0;
}

#contact_page .container > h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#contact_page .container > .policy_content a {
  display: inline;
}

.rating_section {
  /* Three column layout */
  /* Place text to the right */
  /* Clear floats after the columns */
  /* The bar container */
  /* Individual bars */
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
}

.rating_section .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating_section .d-flex p {
  padding: 10px 0 0;
  margin-bottom: 0;
}

.rating_section .d-flex .btn {
  margin-top: auto;
  margin-left: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 99px;
  background-color: #303030;
  color: #ff9800;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating_section .fa {
  font-size: 25px;
}

.rating_section .checked {
  color: orange;
}

.rating_section .side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.rating_section .middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.rating_section .right {
  text-align: right;
}

.rating_section .row:after {
  content: "";
  display: table;
  clear: both;
}

.rating_section .bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.rating_section .bar-5 {
  width: 60%;
  height: 18px;
  background-color: #4caf50;
}

.rating_section .bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}

.rating_section .bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}

.rating_section .bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}

.rating_section .bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

@media (max-width: 400px) {
  .rating_section {
    /* Hide the right column on small screens */
  }
  .rating_section .side,
  .rating_section .middle {
    width: 100%;
  }
  .rating_section .right {
    display: none;
  }
}

#comments_review .rating_section {
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}

#comments_review .rating_section .big-size {
  font-size: 50px;
  color: red;
}

#comments_review .rating_section .rating {
  text-align: right;
}

#comments_review .comments .comment {
  padding: 10px 0;
  border-bottom: 2px dashed #808080;
}

#comments_review .comments .comment .avata {
  font-weight: 700;
  padding: 0;
  margin-right: 12px;
}

#comments_review .comments .comment h5,
#comments_review .comments .comment .num_rating {
  font-weight: 700;
}

#comments_review .comments .comment p {
  margin-bottom: 0;
}

#comments_review .comments .comment .num_rating {
  margin-left: 15px;
  font-size: 18px;
}

#comments_review .comments .comment .num_rating .fa-star.checked {
  color: #ff9800;
}
/*# sourceMappingURL=style_section.css.map */